{% extends '@Fec/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group-item-text">
                    <h4>Тестовое задание для junior php developer</h4>
                    <p>Необходимо реализовать приложение, которое считывает csv файл, записывает данные в
                        базу данных и отображает данные согласно установленным фильтрам.</p>
                    <h3>Описание данных в файле</h3>
                    <p>В csv файле содержится список транзакций, совершенных в каждый из указанных дней по
                        каждой указанной финансовой статье. В один день по одной статье может быть только 1
                        транзакция.</p>
                    <p>Цифры, которые указаны напротив группы статей или категории (не на против статьи)
                        являются суммирующими и вносить из в базу данных не нужно.</p>
                    <h5>ИЕРАРХИЯ ДАННЫХ:</h5>
                    <ul>
                        <li>__Категория</li>
                        <li>_____Группа</li>
                        <li>_______Статья</li>
                        <li>_________Транзакция (Состоит из даты и суммы)</li>
                    </ul>

                    <h5>При обработке данных необходимо:</h5>
                    <ol>
                        <li>Получить все входящие в диапазон дат транзакции</li>
                        <li>Проверить существует ли статья, группа и категория согласно которой была проведена
                            данная транзакция (в случае отсутствия добавить)</li>
                        <li>Проверить существует ли транзакция по данной дате и по данной статье (добавить если
                            отсутствует)</li>
                        <li>Вывести результат с кол-вом добавленных в базу сущностей</li>
                    </ol>

                    <h4>Интерфейс приложения должен состоять из 2-х экранов:</h4>

                    <h3>Экран 1: Загрузка данных</h3>
                    <h5>Состоит из:</h5>
                    <ol>
                        <ul>
                            <li>Поле загрузки файла</li>
                            <li>Поля ввода диапазона дат</li>
                            <li>Кнопка “Загрузить”</li>
                            <li>Блок с результатами загрузки</li>
                        </ul>
                    </ol>
                    <p>Поля с диапазоном дат “Дата от” и “Дата до” указывают в каком диапазоне записывать
                        данные в базу. Все что не входит в этот диапазон – должно игнорироваться.
                        Загрузка файла и получение результатов должны быть реализованы на базе технологии
                        AJAX.</p>
                    <h5>В блоке с результатами, после успешной обработки файла, должно отобразиться:</h5>
                    <ol>
                        <ul>
                            <li>Кол-во добавленных статей</li>
                            <li>Кол-во добавленных групп статей</li>
                            <li>Кол-во добавленных категорий</li>
                            <li>Кол-во добавленных транзакций</li>
                        </ul>
                    </ol>

                    <h3>Экран 2: Отображение таблицы</h3>
                    <h5>Состоит из:</h5>
                    <ol>
                        <ul>
                            <li>Полей диапазона дат “От” и “До”</li>
                            <li>Поле выбора категорий (множественный выбор)</li>
                            <li>Поле выбора групп (множественный выбор)</li>
                            <li>Поле выбора статей (множественный выбор)</li>
                            <li>Кнопка “Принять”</li>
                        </ul>
                    </ol>
                    <p>По нажатию на кнопку “Принять”, без перезагрузки страницы, происходит получение и вывод
                        данных в таблицу ниже.</p>
                    <p>Таблица идентична таблице, которая была загружена для парсинга.</p>
                    <p>Самый левый столбец – Названия категорий, групп, статей.</p>
                    <p>Все остальные столбцы – Суммы по транзакциям согласно каждому дню в указанном
                        диапазоне дат на фильтре.</p>
                    <p>Напротив названий групп и категорий должны отображаться суммы всех транзакций в
                        данный день по всем статьям, которые входят в данную группу или категорию.</p>

                    <h3>Требования:</h3>
                    <p>Приложение должно быть реализовано на одном из MVC фреймворков;</p>
                    <p>Исходный код приложения должен быть выложен на персональном профиле на GitHub;</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}